<header>
	<div>
		<a class="_logo" href="/#"></a>

		<nav>
			<ul [ngClass]="{ 'open': isOpen }">
				<li>
					<a href="/#" 
						(click)="closeMenu()"
						onclick="gtag('event','CLICK',{'event_category':'HEADER_MENU','event_label':'HOME_Click'});"
					>{{ 'HEADER.HOME' | translate }}</a>
				</li>
				<li>
					<a href="/#product" 
						(click)="closeMenu()"
						onclick="gtag('event','CLICK',{'event_category':'HEADER_MENU','event_label':'PRODUCTS_Click'});"
					>{{ 'HEADER.PRODUCTS' | translate }}</a>
				</li>
				<li>
					<a href="/#features"  
						(click)="closeMenu()"
						onclick="gtag('event','CLICK',{'event_category':'HEADER_MENU','event_label':'FEATURES_Click'});"
					>{{ 'HEADER.FEATURES' | translate }}</a>
				</li>
				<li>
					<a href="/#roadmap"  
						(click)="closeMenu()"
						onclick="gtag('event','CLICK',{'event_category':'HEADER_MENU','event_label':'ROADMAP_Click'});"
					>{{ 'HEADER.ROADMAP' | translate }}</a>
				</li>
				<li class="github">
					<a href="https://github.com/ncoin" target="_blank" 
					   (click)="closeMenu()"
					   onclick="gtag('event','CLICK',{'event_category':'HEADER_MENU','event_label':'GITHUB_Click'});"
					>
						<fa name="github" size="2x"></fa>
					</a>
				</li>
				<li class="hamburg">
					<a (click)="toggleMenu()">
						<fa name="bars" size="2x" class="bars"></fa>
						<fa name="times" size="2x" class="times"></fa>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
