$base-font-family: poppin-extra-light, Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$article-font-family: roboto-condensed, Helvetica, Arial, sans-serif;
$content-max-width: 1200px;
$media-width-l: 1200px;
$media-width-m: 768px;
