/* You can add global styles to this file, and also import other style files */
@import "assets/scss/variables";
@import "assets/scss/mixins";

@include font-face("poppin-extra-light", "./assets/font/Poppins-ExtraLight", normal, normal, eot woff ttf svg);
@include font-face("poppin-light", "./assets/font/Poppins-Light", normal, normal, eot woff ttf svg);
@include font-face("notoSerif", "./assets/font/NotoSerif", normal, normal, eot woff ttf svg);

* {
    box-sizing: border-box;
    outline: none;
}

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: $base-font-size;
    height: 100%;
    line-height: 1.5;
}

html, body, input, button {
    font-family: $base-font-family;
    font-size: $base-font-size;
    letter-spacing: 0.1em;
}

article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}

a {
    cursor: pointer;
    text-decoration: none;
}