/* You can add global styles to this file, and also import other style files */
@import "assets/scss/variables";
@import "assets/scss/mixins";

@include font-face("poppin-extra-light", "./assets/font/Poppins-ExtraLight", normal, normal, eot woff ttf svg);
@include font-face("poppin-extra-light", "./assets/font/Poppins-Light", bold, normal, eot woff ttf svg);
@include font-face("noto-serif", "./assets/font/NotoSerif", normal, normal, eot woff ttf svg);
@include font-face("noto-serif", "./assets/font/NotoSerif-Bold", bold, normal, eot woff ttf svg);

* {
    box-sizing: border-box;
    outline: none;
}

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    height: 100%;
    line-height: 1.5;
    color: #272624;
    scroll-behavior: smooth;
}

html, body, input, button {
    font-family: $base-font-family;
    font-size: $base-font-size;
    letter-spacing: 0.1em;

    @media (max-width: $media-width-l) {
        font-size: $base-font-size * 0.95;
    }

    @media (max-width: $media-width-m) {
        font-size: $base-font-size * 0.9;
    }
}

article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}

a, button {
    cursor: pointer;
    text-decoration: none;
    color: inherit;

    &:hover, &:focus, &:visited {
        color: inherit;
        text-decoration: none;
    }
}

.hidden-m {
    @media (max-width: $media-width-l) {
        display: none;
    }
}

.hidden-s {
    @media (max-width: $media-width-m) {
        display: none;
    }
}