/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "poppin-extra-light";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/font/Poppins-ExtraLight.eot?") format("eot"), url("./assets/font/Poppins-ExtraLight.woff") format("woff"), url("./assets/font/Poppins-ExtraLight.ttf") format("truetype"), url("./assets/font/Poppins-ExtraLight.svg#poppin-extra-light") format("svg"); }
@font-face {
  font-family: "poppin-extra-light";
  font-style: normal;
  font-weight: bold;
  src: url("./assets/font/Poppins-Light.eot?") format("eot"), url("./assets/font/Poppins-Light.woff") format("woff"), url("./assets/font/Poppins-Light.ttf") format("truetype"), url("./assets/font/Poppins-Light.svg#poppin-extra-light") format("svg"); }
@font-face {
  font-family: "noto-serif";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/font/NotoSerif.eot?") format("eot"), url("./assets/font/NotoSerif.woff") format("woff"), url("./assets/font/NotoSerif.ttf") format("truetype"), url("./assets/font/NotoSerif.svg#noto-serif") format("svg"); }
@font-face {
  font-family: "noto-serif";
  font-style: normal;
  font-weight: bold;
  src: url("./assets/font/NotoSerif-Bold.eot?") format("eot"), url("./assets/font/NotoSerif-Bold.woff") format("woff"), url("./assets/font/NotoSerif-Bold.ttf") format("truetype"), url("./assets/font/NotoSerif-Bold.svg#noto-serif") format("svg"); }
@font-face {
  font-family: "roboto-condensed";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/font/RobotoCondensed.eot?") format("eot"), url("./assets/font/RobotoCondensed.woff") format("woff"), url("./assets/font/RobotoCondensed.ttf") format("truetype"), url("./assets/font/RobotoCondensed.svg#roboto-condensed") format("svg"); }
@font-face {
  font-family: "roboto-condensed";
  font-style: normal;
  font-weight: bold;
  src: url("./assets/font/RobotoCondensed-Bold.eot?") format("eot"), url("./assets/font/RobotoCondensed-Bold.woff") format("woff"), url("./assets/font/RobotoCondensed-Bold.ttf") format("truetype"), url("./assets/font/RobotoCondensed-Bold.svg#roboto-condensed") format("svg"); }
@font-face {
  font-family: "roboto-condensed-light";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/font/RobotoCondensed-Light.eot?") format("eot"), url("./assets/font/RobotoCondensed-Light.woff") format("woff"), url("./assets/font/RobotoCondensed-Light.ttf") format("truetype"), url("./assets/font/RobotoCondensed-Light.svg#roboto-condensed-light") format("svg"); }
@font-face {
  font-family: "CenturyGothic";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/font/CenturyGothic.eot?") format("eot"), url("./assets/font/CenturyGothic.woff") format("woff"), url("./assets/font/CenturyGothic.ttf") format("truetype"); }
* {
  box-sizing: border-box;
  outline: none; }

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.5;
  color: #272624;
  scroll-behavior: smooth; }

html, body, input, button {
  font-family: poppin-extra-light, Helvetica, Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0.1em; }
  @media (max-width: 1200px) {
    html, body, input, button {
      font-size: 15.2px; } }
  @media (max-width: 768px) {
    html, body, input, button {
      font-size: 11.2px; } }

article, aside, footer, header, hgroup, main, nav, section {
  display: block; }

a, button {
  cursor: pointer;
  text-decoration: none;
  color: inherit; }
  a:hover, a:focus, a:visited, button:hover, button:focus, button:visited {
    color: inherit;
    text-decoration: none; }

@media (max-width: 1200px) {
  .hidden-m {
    display: none; } }

@media (max-width: 768px) {
  .hidden-s {
    display: none; } }

/*# sourceMappingURL=styles.css.map */
