$base-font-family: poppin-extra-light, Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$article-font-family: noto-serif, Helvetica, Arial, sans-serif;
$content-max-width: 980px;
$media-width-l: 980px;
$media-width-s: 768px;