<section class="_intro">
	<div>
		<div class="_intro">
			<h1 [innerHTML]="'MAIN._INTRO' | translate"></h1>
		</div>
		<div class="_btns">
			<a href="https://ssl.ggnet.com/ncoin/NCoin_Whitepaper_EN.pdf"
			   target="_blank"
			   onclick="gtag('event','DOWNLOAD',{'event_category':'ATTACHMENTS','event_label':'WhitePaper File'});"
			   ><span>{{ 'MAIN.DOWNLOAD_WHITEPAPER' | translate }}</span></a>
		</div>
	</div>
</section>

<a name="product"></a>
<section class="_our_products" #_our_products [ngClass]="{ '_visit': isViewing(_our_products) }">
	<div>
		<div class="_header">
			<h1>{{ 'MAIN._OUR_PRODUCTS.TITLE' | translate }}</h1>
		</div>

		<ul>
			<li class="_wallet">
				<h2><img src="assets/img/section02_thumb01.png"></h2>
				<p>{{ 'MAIN._OUR_PRODUCTS.NWALLET' | translate }}</p>
			</li>
			<li class="_poker">
				<h2><img src="assets/img/section02_thumb02.png"></h2>
				<p>{{ 'MAIN._OUR_PRODUCTS.NPOKER' | translate }}</p>
			</li>
			<li class="_casino">
				<h2><img src="assets/img/section02_thumb03.png"></h2>
				<p>{{ 'MAIN._OUR_PRODUCTS.NCASINO' | translate }}</p>
			</li>
		</ul>
	</div>
</section>

<section class="_mobile_apps" #_mobile_apps [ngClass]="{ '_visit': isViewing(_mobile_apps) }">
	<div>
		<ul>
			<li class="_title01">
				<div>{{ 'MAIN._MOBILE_APPS.TITLE01' | translate }}</div>
			</li>
			<li class="_title02">
				<div>{{ 'MAIN._MOBILE_APPS.TITLE02' | translate }}</div>
			</li>
			<li class="_description">
				<div>{{ 'MAIN._MOBILE_APPS.DESCRIPTION' | translate }}</div>
			</li>
			<li class="_appstore">
				<a
					href="itms-services://?action=download-manifest&url=https://www.ncoin.com/assets/manifest.plist"
					onclick="gtag('event','DOWNLOAD',{'event_category':'ATTACHMENTS','event_label':'Iphone App File'});"
					><img src="assets/img/btn-apple-appstore.png"></a>
				<a href="https://ssl.ggnet.com/ncoin/nwallet.apk"
				   onclick="gtag('event','DOWNLOAD',{'event_category':'ATTACHMENTS','event_label':'Android App File'});"
				   download><img src="assets/img/btn-google-playstore.png"></a>
			</li>
		</ul>
	</div>
</section>

<a name="features"></a>
<section #_features class="_features">
	<div>
		<h2>{{ 'MAIN._FEATURES.TITLE' | translate }}</h2>

		<div [ngClass]="{ '_visit': isViewing(_features) }">
			<ul class="_sub">
				<li>
					<p><img src="assets/img/section04_icon01.png"></p>
					<p>{{ 'MAIN._FEATURES.SUB01' | translate }}</p>
				</li>
				<li>
					<p><img src="assets/img/section04_icon02.png"></p>
					<p>{{ 'MAIN._FEATURES.SUB02' | translate }}</p>
				</li>
				<li>
					<p><img src="assets/img/section04_icon03.png"></p>
					<p>{{ 'MAIN._FEATURES.SUB03' | translate }}</p>
				</li>
			</ul>

			<ul class="_detail">
				<li>
					<img src="assets/img/section04_icon11.png" align="left">
					<h3>{{ 'MAIN._FEATURES.LOAN_TITLE' | translate }}</h3>
					<p [innerHTML]="'MAIN._FEATURES.LOAN_DESCRIPTION' | translate"></p>
				</li>
				<li>
					<img src="assets/img/section04_icon12.png" align="left">
					<h3>{{ 'MAIN._FEATURES.BUY_TITLE' | translate }}</h3>
					<p [innerHTML]="'MAIN._FEATURES.BUY_DESCRIPTION' | translate"></p>
				</li>
			</ul>
		</div>
	</div>
</section>

<a name="roadmap"></a>
<section #_roadmap class="_roadmap">
	<div>
		<h2>{{ 'MAIN._ROADMAP.TITLE' | translate }}</h2>

		<table [ngClass]="{ '_visit': isViewing(_roadmap) }" class="hidden-m">
			<thead>
			<tr>
				<th><img src="assets/img/roadmap_01.png"></th>
				<th><img src="assets/img/roadmap_02.png"></th>
				<th><img src="assets/img/roadmap_03.png"></th>
				<th><img src="assets/img/roadmap_04.png"></th>
				<th><img src="assets/img/roadmap_05.png"></th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<th [innerHTML]="'MAIN._ROADMAP.TITLE_01' | translate"></th>
				<th [innerHTML]="'MAIN._ROADMAP.TITLE_02' | translate"></th>
				<th [innerHTML]="'MAIN._ROADMAP.TITLE_03' | translate"></th>
				<th [innerHTML]="'MAIN._ROADMAP.TITLE_04' | translate"></th>
				<th [innerHTML]="'MAIN._ROADMAP.TITLE_05' | translate"></th>
			</tr>
			<tr>
				<td>
					<p>{{ 'MAIN._ROADMAP.DESCRIPTION_01' | translate }}</p>
				</td>
				<td>
					<p>{{ 'MAIN._ROADMAP.DESCRIPTION_02_01' | translate }}</p>
					<p>{{ 'MAIN._ROADMAP.DESCRIPTION_02_02' | translate }}</p>
				</td>
				<td>
					<p>{{ 'MAIN._ROADMAP.DESCRIPTION_03_01' | translate }}</p>
					<p>{{ 'MAIN._ROADMAP.DESCRIPTION_03_02' | translate }}</p>
					<p>{{ 'MAIN._ROADMAP.DESCRIPTION_03_03' | translate }}</p>
					<p>{{ 'MAIN._ROADMAP.DESCRIPTION_03_04' | translate }}</p>
				</td>
				<td></td>
				<td></td>
			</tr>
			</tbody>
		</table>

		<ul [ngClass]="{ '_visit': isViewing(_roadmap) }" class="hidden-l">
			<li>
				<h3><span [innerHTML]="'MAIN._DATE_YQ' | translate:{ 'Y': 2018, 'Q': 1 }"></span></h3>
				<i></i>
				<div>
					<div [innerHTML]="'MAIN._ROADMAP.TITLE_m01' | translate"></div>
					<ul>
						<li>{{ 'MAIN._ROADMAP.DESCRIPTION_01' | translate }}</li>
					</ul>
				</div>
			</li>
			<li>
				<h3><span [innerHTML]="'MAIN._DATE_YQ' | translate:{ 'Y': 2018, 'Q': 3 }"></span></h3>
				<i></i>
				<div>
					<div [innerHTML]="'MAIN._ROADMAP.TITLE_m02' | translate"></div>
					<ul>
						<li>{{ 'MAIN._ROADMAP.DESCRIPTION_02_01' | translate }}</li>
						<li>{{ 'MAIN._ROADMAP.DESCRIPTION_02_02' | translate }}</li>
					</ul>
				</div>
			</li>
			<li>
				<h3><span [innerHTML]="'MAIN._DATE_YQ' | translate:{ 'Y': 2018, 'Q': 4 }"></span></h3>
				<i></i>
				<div>
					<div [innerHTML]="'MAIN._ROADMAP.TITLE_m03' | translate"></div>
					<ul>
						<li>{{ 'MAIN._ROADMAP.DESCRIPTION_03_01' | translate }}</li>
						<li>{{ 'MAIN._ROADMAP.DESCRIPTION_03_02' | translate }}</li>
						<li>{{ 'MAIN._ROADMAP.DESCRIPTION_03_03' | translate }}</li>
						<li>{{ 'MAIN._ROADMAP.DESCRIPTION_03_04' | translate }}</li>
					</ul>
				</div>
			</li>
			<li>
				<h3><span [innerHTML]="'MAIN._DATE_YQ' | translate:{ 'Y': 2019, 'Q': 2 }"></span></h3>
				<i></i>
				<div>
					<div [innerHTML]="'MAIN._ROADMAP.TITLE_m04' | translate"></div>
				</div>
			</li>
			<li>
				<h3><span [innerHTML]="'MAIN._DATE_YQ' | translate:{ 'Y': 2019, 'Q': 4 }"></span></h3>
				<i></i>
				<div>
					<div [innerHTML]="'MAIN._ROADMAP.TITLE_m05' | translate"></div>
				</div>
			</li>
		</ul>
	</div>
</section>
