<footer>
    <div>
        <h2>{{ 'FOOTER.CONTACT US' | translate }}</h2>
        <div class="_subscription">
            <input type="text" placeholder="{{ 'MAIN.EMAIL ADDRESS' | translate }}">
            <div class="_btn">
                <button type="button">{{ 'MAIN.SUBSCRIBE' | translate }}</button>
            </div>
        </div>
        <div class="_telegram">
            <button type="button">{{ 'FOOTER.JOIN TELEGRAM' | translate }}</button>
        </div>
        <div class="_copyright">© 2018 by NSUSGROUP.</div>
    </div>
</footer>