footer {
  background: #272624; }
  footer > div {
    max-width: 1200px;
    margin: 0 auto;
    background: #323232;
    padding: 25px 20px; }
    footer > div > h2 {
      margin: 0 auto;
      padding: 0.5em 0;
      font-size: 1em;
      letter-spacing: 0.2em;
      color: #E3BB8A; }
    footer > div ._subscription {
      background: url("/assets/svg/angle-hexagon-input-gold-stroke-left.svg") no-repeat top left, url("/assets/svg/angle-hexagon-input-gold-stroke-right.svg") no-repeat top right;
      background-size: 12px 100%;
      padding: 0 12px;
      height: 45px;
      max-width: 565px;
      width: calc(100% - 30px);
      display: -webkit-flex;
      display: flex;
      margin: 10px auto; }
      footer > div ._subscription input {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: solid #d4a772;
        border-width: 1px 0;
        color: #fff;
        padding: 0 12px; }
        footer > div ._subscription input::placeholder, footer > div ._subscription input::-webkit-input-placeholder {
          color: #ddcebd;
          opacity: 1;
          /* Firefox */ }
        footer > div ._subscription input:-ms-input-placeholder, footer > div ._subscription input::-ms-input-placeholder {
          color: #ddcebd;
          opacity: 1;
          /* Firefox */ }
        footer > div ._subscription input:focus::placeholder, footer > div ._subscription input:focus::-webkit-input-placeholder {
          opacity: .5; }
        footer > div ._subscription input:focus:-ms-input-placeholder, footer > div ._subscription input:focus::-ms-input-placeholder {
          opacity: .5; }
      footer > div ._subscription input {
        -webkit-flex: 1;
        flex: 1;
        padding: 0 24px 0 12px; }
      footer > div ._subscription ._btn {
        background: url("/assets/svg/angle-hexagon-input-gold-fill-left.svg") no-repeat top left, url("/assets/svg/angle-hexagon-input-gold-fill-right.svg") no-repeat top right;
        background-size: 12px 100%;
        padding: 0 12px;
        height: 45px;
        max-width: 150px;
        width: 150px;
        margin: 0 -12px; }
        footer > div ._subscription ._btn button {
          width: 100%;
          height: 100%;
          background-color: #d4a772;
          border: none;
          color: #fff; }
    footer > div ._telegram {
      background: url("/assets/svg/angle-hexagon-input-gold-fill-left.svg") no-repeat top left, url("/assets/svg/angle-hexagon-input-gold-fill-right.svg") no-repeat top right;
      background-size: 12px 100%;
      padding: 0 12px;
      height: 45px;
      max-width: 565px;
      width: calc(100% - 30px);
      margin: 10px auto; }
      footer > div ._telegram button {
        width: 100%;
        height: 100%;
        background-color: #d4a772;
        border: none;
        color: #fff; }
    footer > div ._copyright {
      margin-top: 20px;
      text-align: right;
      color: #E5CDB1;
      font-size: 0.9em; }

/*# sourceMappingURL=footer.component.css.map */
