@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

footer {
    background: #272624;

    > div {
        max-width: $content-max-width;
        margin: 0 auto;
        background: #323232;
        padding: 25px 20px;

        > h2 {
            margin: 0 auto;
            padding: 0.5em 0;
            font-size: 1em;
            letter-spacing: 0.2em;
            color: #E3BB8A;
        }

        ._subscription {
            @include hexagon-input-button(calc(100% - 30px), 565px, 150px, 45px, 12px);
            margin: 10px auto;
        }

        ._telegram {
            @include hexagon-button(calc(100% - 30px), 565px, 45px, 12px);
            margin: 10px auto;
        }

        ._copyright {
            margin-top: 20px;
            text-align: right;
            color: #E5CDB1;
            font-size: 0.9em;
        }
    }
}