header {
  background: #000 url("../../../assets/img/header-bg.png") no-repeat 50% bottom;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0; }
  header > div {
    max-width: 1200px;
    margin: 0 auto;
    height: 64px;
    border-bottom: 1px solid #b9965f;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
    header > div ._logo {
      display: block;
      margin-left: 26px;
      width: 190px;
      height: 100%;
      background: url("../../../assets/img/header-logo.png") no-repeat center; }
      @media (max-width: 1200px) {
        header > div ._logo {
          margin-left: -24px; } }
    header > div nav {
      padding: 0 10px; }
      header > div nav > ul {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: flex-end;
        align-items: flex-end;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0; }
        header > div nav > ul > li {
          position: relative;
          margin: 0;
          padding: 0 7px; }
          header > div nav > ul > li > a {
            position: relative;
            display: block;
            padding: 8px 24px;
            z-index: 1;
            color: #fadca1; }
          header > div nav > ul > li:before, header > div nav > ul > li:after {
            content: '';
            display: block;
            position: absolute; }
          header > div nav > ul > li:before {
            left: 15px;
            right: 15px;
            height: 0;
            bottom: 0;
            background: #b9965f;
            transition: height 0.4s ease; }
          header > div nav > ul > li:after {
            left: 0;
            right: 0;
            height: 100px;
            bottom: -26px;
            opacity: 0;
            background: url("../../../assets/img/header-menu-glow.png") no-repeat 50% bottom;
            transition: bottom 0.4s ease, opacity 0.4s ease; }
          header > div nav > ul > li:hover:before {
            height: 3px; }
          header > div nav > ul > li:hover:after {
            opacity: 1;
            bottom: -23px; }
        header > div nav > ul li.github > a {
          padding: 4px 24px; }
        header > div nav > ul li.hamburg {
          display: none; }
      @media (max-width: 1200px) {
        header > div nav > ul {
          position: absolute;
          top: 64px;
          right: 0;
          width: 100%;
          background: #000; }
        header > div nav > ul.open {
          padding: 1em 0; }
          header > div nav > ul.open > li {
            display: block; }
          header > div nav > ul.open > li.hamburg > a > .bars {
            display: none; }
          header > div nav > ul.open > li.hamburg > a > .times {
            display: inline; }
        header > div nav > ul > li {
          float: none;
          width: 100%;
          text-align: center;
          display: none; }
          header > div nav > ul > li.github > a,
          header > div nav > ul > li > a {
            padding: 10px 24px; }
        header > div nav > ul > li.hamburg {
          position: absolute;
          display: inline;
          width: auto;
          top: -50px;
          right: 0;
          padding: 0 10px; }
          header > div nav > ul > li.hamburg:before, header > div nav > ul > li.hamburg:after {
            content: none; }
          header > div nav > ul > li.hamburg > a {
            display: inline;
            padding: 0; }
          header > div nav > ul > li.hamburg > a > .times {
            display: none; } }

/*# sourceMappingURL=header.component.css.map */
