<header>
  <div>
    <a class="_logo" href="/main#"></a>

    <nav>
      <ul>
        <li>
          <a href="/main#">{{ 'HEADER.HOME' | translate }}</a>
        </li>
        <li>
          <a>{{ 'HEADER.ABOUT' | translate }}</a>
        </li>
        <li>
          <a>{{ 'HEADER.PRODUCTS' | translate }}</a>
        </li>
        <li>
          <a>{{ 'HEADER.FEATURES' | translate }}</a>
        </li>
        <li class="github">
          <a><fa name="github" size="2x"></fa></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
