<div class="header">
    <header>
        <a class="_logo" href="/"></a>

        <ul class="_nav">
            <li>
                <a>about</a>
            </li>
            <li>
                <a>roadmap</a>
            </li>
            <li>
                <a>token sale</a>
            </li>
            <li>
                <a>faq</a>
            </li>
        </ul>
    </header>
</div>
<div class="section _01">
    <section>
        <div class="_intro">
            <h1 class="_title">NCOIN NETWORK</h1>
            <p class="_desc">
                Building the digital blocks<br>
                for a new era of gaming
            </p>
        </div>
        <div class="_btn-area">
            <a class="_btn">ONE PAGER</a>
            <a class="_btn">WHITEPAPER</a>
        </div>
    </section>

    <!--
        <svg width="565" height="45"  preserveAspectRatio="none">
            <polygon points="12,0 0,22.5 12,45 553,45, 565,22.5, 553,0" fill="transparent" stroke-width="1" stroke="#d4a772" vector-effect="non-scaling-stroke"/>

            <polygon points="427,0 415,22.5 427,45 553,45, 565,22.5, 553,0" fill="#d4a772" vector-effect="non-scaling-stroke"/>
        </svg>


        <svg width="12" height="45" viewBox="0 0 100 100" preserveAspectRatio="none">
            <polygon points="100,0 0,50 100,100" fill="#d4a772"/>
        </svg>
        -->
</div>

<div class="section _02">
    <section>
        <div class="_header">
            <div class="_border"></div>
            <div class="_subscription">
                <input type="text" placeholder="EMAIL ADDRESS">
                <div class="submit">
                    <button type="button">SUBSCRIBE</button>
                </div>
            </div>
            <div class="_border"></div>
        </div>
        <h2>
            BESPOKE BLOCKCHAIN NETWORK
            <small>For the gaming industry</small>
        </h2>
        <p>Since its inception, blockchain technology took the world by storm, and the cryptocurrency market cap reached
            $600 billion as of January 2018. While the coin market provided the driving force for such a revolution,
            other industries are also looking to embrace this phenomenon. Many analysts have been expecting the gaming
            industry to be the succeeding beneficiary. However, contrary to their belief, we have yet to see any surge
            in the gaming market.</p>
        <p>Our group has been studying and experimenting blockchain for years, and have come to the conclusion that
            existing blockchain projects cannot overcome the obstacles inherent in online gaming.</p>
        <p>As such, we are introducing a new bespoke blockchain network, the NCoin Network (NCN), tailor-made for the
            gaming industry.</p>
    </section>
</div>

<div class="section _03">
    <section>
        <h2>THE NCN DIFFERENCE</h2>
        <div class="_hexagon _01">
            <div class="_border">
                <div class="_icon"></div>
                <div class="_desc">
                    <p>
                        NCN is designed to include <strong>State Channel Technology</strong> which enables off-chain
                        transactions, so that the blockchain will launch with minimal fee</p>
                </div>
            </div>
        </div>
        <div class="_hexagon _02">
            <div class="_border">
                <div class="_icon"></div>
                <div class="_desc">
                    <p>
                        NCN utilizes the <strong>N-PoS Algorithm</strong> to accomplish an overwhelming transaction
                        speed
                        over the PoW, PoS algorithm based blockchains such as Bitcoin and Ethereum</p>
                </div>
            </div>
        </div>
        <div class="_hexagon _03">
            <div class="_border">
                <div class="_icon"></div>
                <div class="_desc">
                    <p>NCN is designed with <strong>Dynamic Sharding Technology</strong> so that mainnet goes live with
                        scalability</p>
                </div>
            </div>
        </div>
        <div class="_hexagon _04">
            <div class="_border">
                <div class="_icon"></div>
                <div class="_desc">
                    <p>NGP will return part of the revenue to the NCN community and token holders will be rewarded.
                        <strong>PoS
                            Staking system</strong> will allow holders to earn passive income</p>
                </div>
            </div>
        </div>
        <div class="_hexagon _05">
            <div class="_border">
                <div class="_icon"></div>
                <div class="_desc">
                    <p>Using <strong>Zero-Knowledge Proof</strong>, NCN is cryptographically anonymous and transactions
                        are
                        untraceable</p>
                </div>
            </div>
        </div>
        <div class="_hexagon _06">
            <div class="_border">
                <div class="_icon"></div>
                <div class="_desc">
                    <p>
                        N-PoS takes use of provably fair concept to bring forth a patented technology,
                        <strong>N-Fair Smart Contracts</strong>
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="section _04">
    <section>
        <h2>COMPARISON FACTSHEET</h2>

        <dl>
            <dt>
                VS<br>
                BITCOIN
            </dt>
            <dd>While Bitcoin is the most widely known crypto currency in the market, it's high cost of transaction and
                lack of privacy makes it unsuitable for gaming transactions. Further, Bitcoin lacks smart contracts
                while NCN comes with a bespoke N-Fair smart contracts specifically for gaming.
            </dd>
            <dt>VS<br>
                ETHEREUM, MONERO
            </dt>
            <dd>Ethereum and Monero are both Proof-of-Work crypto currencies. NCN's N-PoS will not only guarantee speeds
                higher than both, but will reward token holders with greater amounts, befitting of the high standards of
                the gaming industry.
            </dd>
            <dt>VS<br>
                NEO,<br>
                CARDANO
            </dt>
            <dd>Both Neo and Cardano are 2nd generation of crypto currencies that has gained recent popularity. NCN,
                with built-in Privacy and State Channel technology, is technologically more suited for gaming.
            </dd>
        </dl>

        <button type="button">LEARN MORE</button>
    </section>
</div>


<div class="section _05">
    <section>
        <h2>ROADMAP</h2>

        <ul>
            <li>
                <h3><span>2018<br>Q2</span></h3>
                <div>
                    BUILD<br>
                    FOUNDATIONS
                </div>
                <ul>
                    <li>NPoker launches on GGNetwork</li>
                    <li>Off-chain NCN Wallet (Alpha)</li>
                </ul>
            </li>
            <li>
                <h3><span>2018<br>Q3</span></h3>
                <div>
                    NCOIN<br>
                    WALLET
                </div>
                <ul>
                    <li>Off-chain NCN Wallet (Beta)</li>
                </ul>
            </li>
            <li>
                <h3><span>2018<br>Q4</span></h3>
                <div>
                    TEST<br>
                    NETWORK
                </div>
                <ul>
                    <li>NCoin Network TestNet</li>
                    <li>On-chain NCN Wallet (Beta)</li>
                    <li>NPoker (Beta)</li>
                </ul>
            </li>
            <li>
                <h3><span>2019<br>Q2</span></h3>
                <div>
                    EXPAND<br>
                    NETWORK
                </div>
                <ul>
                    <li>NCoin Network Mainnet</li>
                    <li>On-Chain NCN Wallet (Live)</li>
                    <li>NPoker (Live)</li>
                    <li>NGame Platform (Beta)</li>
                </ul>
            </li>
            <li>
                <h3><span>2019<br>Q4</span></h3>
                <div>
                    LAUNCH<br>
                    PLATFORM
                </div>
                <ul>
                    <li>NGame Platform (Live)</li>
                </ul>
            </li>
        </ul>
        <button type="button">MORE</button>
    </section>
</div>