@import "../../assets/scss/variables";

.header {
    min-width: 100vw;
    height: 149px;
    background: #000 url("../../assets/img/header-bg.png") no-repeat 50% top;

    header {
        max-width: $content-max-width;
        height: 100%;
        margin: 0 auto;
        border-bottom: 1px solid #b9965f;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: flex-end;
        align-items: flex-end;
        -webkit-justify-content: space-between;
        justify-content: space-between;

        ._logo {
            -webkit-flex: none;
            flex: none;
            display: block;
            width: 211px;
            height: 149px;
            background: url("../../assets/img/header-logo.png") no-repeat;
        }

        ._nav {
            -webkit-flex: initial;
            flex: initial;
            list-style: none;
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: flex-end;
            align-items: flex-end;
            margin: 0;
            padding: 0 10px;

            li {
                margin: 0;
                padding: 0 15px;
                position: relative;

                a {
                    padding: 8px 3px;
                    display: block;
                    text-transform: uppercase;
                    font-size: 1.125rem;
                    letter-spacing: 0.1em;
                    position: relative;
                    z-index: 1;
                }

                color: #fadca1;
                transition: color 0.4s ease 0s;

                &:not(._active) {
                    &:hover {
                        // color: #917143;

                        &:before {
                            height: 3px;
                        }

                        &:after {
                            opacity: 1;
                            bottom: -23px;
                        }
                    }
                }

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 15px;
                    right: 15px;
                    height: 0;
                    bottom: 0;
                    background: #b9965f;
                    transition: height 0.4s ease 0s;
                }

                &:after {
                    content: '';
                    display: block;
                    opacity: 0;
                    position: absolute;
                    left: 0;
                    right: 0;
                    height: 100px;
                    bottom: -26px;
                    background: url('../../assets/img/header-menu-glow.png') no-repeat 50% bottom;
                    transition: bottom 0.4s ease, opacity 0.4s ease;
                }

                &._active {
                    &:before {
                        height: 3px;
                    }

                    &:after {
                        opacity: 1;
                        bottom: -23px;
                    }
                }
            }
        }
    }
}

button._btn {
    display: block;
    border: 1px solid #d4a772;
    background: transparent;
    font-weight: bold;
    width: 100%;
    max-width: 230px;
    font-size: 1rem;
    height: 53px;
    margin: 20px auto;
    cursor: pointer;
}

._subscription {
    width: calc(100% - 30px);
    max-width: 565px;
    display: -webkit-flex;
    display: flex;
    height: 45px;
    padding: 0 0 0 12px;
    background: url('../../assets/svg/angle-hexagon-input-gold-stroke-left.svg') no-repeat top left;
    background-size: 12px 100%;

    input,
    button {
        font-size: 1em;
        padding: 0 1em;
        font-weight: bold;
    }

    input {
        width: 100%;
        max-width: 415px;
        height: 100%;
        padding-right: 2em;
        background: transparent;
        border: solid #d4a772;
        border-width: 1px 0;
        color: #ddcebd;
        -webkit-flex: 1;
        flex: 1;

        &::placeholder,
        &::-webkit-input-placeholder {
            color: #ddcebd;
            opacity: 1; /* Firefox */
        }

        &:-ms-input-placeholder,
        &::-ms-input-placeholder {
            color: #ddcebd;
            opacity: 1; /* Firefox */
        }

        &:focus {
            &::placeholder,
            &::-webkit-input-placeholder {
                opacity: .5;
            }

            &:-ms-input-placeholder,
            &::-ms-input-placeholder {
                opacity: .5;
            }
        }
    }

    .submit {
        width: 150px;
        height: 100%;
        background: url('../../assets/svg/angle-hexagon-input-gold-fill-left.svg') no-repeat top left,
        url('../../assets/svg/angle-hexagon-input-gold-fill-right.svg') no-repeat top right;
        background-size: 12px 100%;
        padding: 0 12px;
        margin-left: -12px;

        button {
            width: 100%;
            height: 100%;
            background-color: #d4a772;
            border: none;
            color: #fff;
            cursor: pointer;
        }
    }
}

.section {
    min-width: 100%;
    position: relative;

    > section {
        display: block;
        max-width: $content-max-width;
        margin: 0 auto;
    }

    &._01 {
        min-height: 892px;
        background: #000 url('../../assets/img/section01-bg.png') no-repeat 50% bottom;
        color: #fff;

        > section {
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: flex-end;
            align-items: flex-end;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            padding-top: 110px;

            > ._intro {
                padding: 0 35px;

                ._title {
                    margin: 0 0 1.6em 0;
                    font-size: 1.3333rem;
                    line-height: 1.25;
                    color: #d4a772;
                }

                ._desc {
                    font: 2.3333rem notoSerif;
                    margin: 0;
                }
            }

            ._btn-area {
                padding: 0 3rem;

                ._btn {
                    display: block;
                    border: 1px solid #d4a772;
                    min-height: 3.8666em;
                    min-width: 230px;
                    padding: 1em;
                    font-size: 1em;
                    line-height: 1.7;
                    position: relative;
                    text-align: center;

                    + ._btn {
                        margin-top: 1em;
                    }

                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        left: 0;
                        right: 0;
                        height: 0;
                        bottom: 0;
                        background: #d4a772;
                        transition: height 0.4s ease 0s;
                    }

                    &:after {
                        content: '';
                        display: block;
                        opacity: 0;
                        position: absolute;
                        left: 0;
                        right: 0;
                        height: 39px;
                        bottom: -25px;
                        background: url('../../assets/img/section01-btn-glow.png') no-repeat 50% bottom;
                        transition: bottom 0.4s ease, opacity 0.4s ease;
                    }

                    &:hover {
                        &:before {
                            height: 3px;
                        }

                        &:after {
                            opacity: 1;
                            bottom: -22px;
                        }
                    }
                }
            }
        }
    }

    &._02 {
        padding-bottom: 50px;

        > section {
            max-width: $content-max-width - 40px;
            padding: 100px 100px 50px;
            border: solid #d4a772;
            border-width: 0 1px 1px 1px;
            margin-top: -53px;
            position: relative;

            ._header {
                display: -webkit-flex;
                display: flex;
                -webkit-align-items: center;
                align-items: center;
                position: absolute;
                top: -23px;
                left: 0;
                right: 0;
                margin: 0 auto;

                > ._border {
                    -webkit-flex: 1;
                    flex: 1;
                    background: #d4a772;
                    height: 1px;
                    margin: 0 -1px;
                }
            }

            > h2 {
                margin: 0;
                color: #9E7747;
                font: 1.8rem;
                letter-spacing: 0.1em;

                > small {
                    display: block;
                    font: 1.6rem poppin-extra-light;
                    letter-spacing: normal;
                }
            }

            > p {
                font: 1rem notoSerif;
                color: #3D362D;
                line-height: 1.6em;
                margin: 1.8em 0 0;
                letter-spacing: normal;
            }
        }
    }

    &._03 {
        background: url('../../assets/img/section03-bg.png') no-repeat 50% 50%;
        background-size: cover;
        min-height: 970px;
        padding: 30px 0;

        > section {
            max-width: $content-max-width - 40px;
            text-align: center;
            font-size: 0;
            border: 2px solid #e3bb8a;
            padding: 30px;

            h2 {
                font: 1.2rem;
                letter-spacing: normal;
                margin: 0 0 3rem;
            }

            ._desc {
                display: -webkit-flex;
                display: flex;
                -webkit-align-items: center;
                align-items: center;
                min-height: 140px;

                p {
                    font: 1rem notoSerif;
                    color: #000;
                    letter-spacing: normal;
                    line-height: 1.4;
                    margin: 0;
                }
            }

            > ._hexagon {
                width: 264px;
                height: 310px;
                margin: 0 6px;
                padding: 12.5px 11px;
                vertical-align: middle;

                background: url('../../assets/svg/hexagon-white-fill.svg') no-repeat 50% 50%;
                background-size: contain;
                display: inline-block;

                > ._border {
                    width: 242px;
                    height: 285px;
                    background-size: contain;
                    background: url('../../assets/svg/hexagon-gold-stroke.svg') no-repeat 50% 50%;
                    padding: 30px 5px;
                }

                ._icon {
                    width: 56px;
                    height: 56px;
                    background: no-repeat 50% 50%;
                    margin: 0 auto;
                }

                &._04, &._05, &._06 {
                    margin-top: -66px;
                }

                &._01 {
                    ._icon {
                        background-image: url('../../assets/img/section03-icn01.png');
                    }
                }

                &._02 {
                    ._icon {
                        background-image: url('../../assets/img/section03-icn02.png');
                    }
                }

                &._03 {
                    ._icon {
                        background-image: url('../../assets/img/section03-icn03.png');
                    }
                }

                &._04 {
                    margin-left: 132px;

                    ._icon {
                        background-image: url('../../assets/img/section03-icn04.png');
                    }
                }

                &._05 {
                    margin-right: 132px;

                    ._icon {
                        background-image: url('../../assets/img/section03-icn05.png');
                    }
                }

                &._06 {
                    ._icon {
                        background-image: url('../../assets/img/section03-icn06.png');
                    }
                }
            }
        }
    }

    &._04 {
        > section {
            padding: 30px 20px;

            h2 {
                text-align: center;
                margin: 1em 0;
                font: 1.8rem;
                color: #9E7747;
            }

            dl {
                font: 1rem notoSerif;
                letter-spacing: normal;
                -webkit-flex-wrap: wrap;
                flex-wrap: wrap;
                display: -webkit-flex;
                display: flex;
                -webkit-align-items: flex-start;
                align-items: flex-start;
                margin: 0;
                border-bottom: 1px solid #d4a772;
                line-height: 1.5;

                > dt {
                    font-size: 1.2rem;
                    margin: 0;
                    min-width: 260px;
                    padding: 60px 0 60px 30px;
                    border-top: 1px solid #d4a772;
                }

                > dd {
                    margin: 0;
                    max-width: calc(100% - 260px);
                    flex: 100%;
                    padding: 60px 0;
                    border-top: 1px solid #d4a772;
                }
            }
        }
    }

    &._05 {
        background: #23211f;

        > section {
            padding: 30px 20px;

            h2 {
                text-align: center;
                margin: 1em 0;
                font: 1.8rem;
                color: #9E7747;
            }

            > ul {
                font-family: notoSerif;
                list-style: none;
                margin: 0;
                padding: 15px;
                border-top: 1px solid #d4a772;
                border-bottom: 1px solid #d4a772;

                > li {
                    display: -webkit-flex;
                    display: flex;
                    -webkit-align-items: center;
                    align-items: center;
                    padding: 20px 0;

                    > h3 {
                        display: -webkit-flex;
                        display: flex;
                        -webkit-align-items: center;
                        align-items: center;
                        width: 120px;
                        height: 120px;
                        border: 4px solid #D5B48D;
                        border-radius: 50%;
                        margin: 0;

                        > span {
                            flex: 100%;
                            text-align: center;
                            display: block;
                            color: #fff;
                        }
                    }
                    > div {
                        flex: 1;
                        color: #DCB584;
                        font: 1.2rem bold;
                        line-height: 1.8em;
                        text-align: center;
                        padding: 0 1em;
                    }
                    > ul {
                        text-align: left;
                        flex: 1;
                        color: #fff;
                        line-height: 1.8em;
                        padding: 0 2em;
                        font-size: 1rem;
                        list-style: disc;
                    }
                }
            }

            button {
                color: #fff;
            }
        }
    }

    &._06 {
        > section {
            padding: 30px 20px;

            > h2 {
                text-align: center;
                margin: 1em 0;
                font-size: 1.8rem;
                color: #9E7747;
            }

            > div {
                padding: 40px 0;
                border-top: 1px solid #d4a772;
                border-bottom: 1px solid #d4a772;
                display: -webkit-flex;
                display: flex;
                -webkit-align-items: flex-start;
                align-items: flex-start;
                letter-spacing: normal;

                > div {
                    flex: 1;
                    padding: 0 10px;

                    &._summary {
                        font-family: notoSerif;

                        h3 {
                            font-size: 1.2rem;
                            letter-spacing: 0.2em;
                            margin: 0 0 1em;
                        }

                        ul {
                            list-style: none;
                            margin: 0 0 3em;
                            padding: 0;
                            line-height: 1.6em;
                        }

                        p + :not(p) {
                            margin-top: 2em;
                        }
                    }

                    &._chart {
                        table {
                            width: 100%;
                            font-weight: bold;
                            border-spacing: 2px;
                            margin-bottom: 50px;

                            th, td {
                                height: 30px;
                                padding: 0 1em;
                            }

                            > thead {
                                th {
                                    background: #625B4F;
                                }
                            }

                            > tbody {
                                th {
                                    background: #A8A991;
                                }

                                td {
                                    text-align: right;
                                    background: #DFD8CA;
                                }
                            }
                        }

                        ._pie {
                            display: -webkit-flex;
                            display: flex;
                            -webkit-align-items: flex-start;
                            align-items: flex-start;
                            -webkit-justify-content: space-between;
                            justify-content: space-between;

                            > div {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }

    &._07 {
        background: #000 url('../../assets/img/section07-bg.jpg') no-repeat 50% top;

        > section {
            padding: 30px 20px 100px;

            > h2 {
                text-align: center;
                margin: 1em 0;
                padding-bottom: 1em;
                font-size: 1.8rem;
                color: #C3A177;
                border-bottom: 1px solid #d4a772;
            }

            > ul {
                font-family: notoSerif;
                list-style: none;
                margin: 0 -20px;
                padding: 0;
                display: -webkit-flex;
                display: flex;
                -webkit-justify-content: space-between;
                justify-content: space-between;
                letter-spacing: normal;

                > li {
                    width: 24%;
                    margin: 0;
                    padding: 0;
                    background: #E2E2E2;

                    > h3 {
                        border: 2px solid #D8B98B;
                        background: #fff;
                        text-align: center;
                        font-size: 1.75rem;
                        font-weight: normal;
                        min-height: 110px;
                        line-height: 106px;
                        margin: 1.5rem 0.5rem;
                        padding: 0 0.2em;

                        &:before {
                            content: '';
                            display: inline-block;
                            vertical-align: middle;
                            height: 100%;
                        }

                        span {
                            line-height: 1.2;
                            vertical-align: middle;
                            display: inline-block;
                        }
                    }

                    > ul {
                        border-top: 2px  solid #C3A574;
                        list-style: disc;
                        margin: 0;
                        padding: 20px 10px 30px 30px;
                        font-size: 0.9em;

                        > li {
                            margin: 0 0 1em 0;
                        }
                    }
                }
            }
        }
    }

    &._08 {
        > section {
            padding: 30px 20px 100px;

            > h2 {
                margin: 0 auto;
                padding: 0.5em 0;
                font-size: 1.2rem;
                border-bottom: 2px solid #272624;
                width: fit-content;
            }

            > ul {
                list-style: none;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-wrap: wrap;
                flex-wrap: wrap;
                letter-spacing: normal;
                padding: 40px 0;
                margin: 0;

                > li {
                    flex: 1;
                    text-align: center;
                    padding: 10px;

                    h3 {
                        font-family: notoSerif;
                        font-weight: normal;
                        margin: 2em 0;
                    }

                    ._linkedin {
                        margin: 1em auto;
                        display: block;
                        width: fit-content;
                    }

                    p {
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }

    &._09 {
        background: #272624;

        > section {
            background: #323232;
            padding: 25px 20px;

            > h2 {
                margin: 0 auto;
                padding: 0.5em 0;
                font-size: 1.1rem;
                letter-spacing: 0.2rem;
                color: #E3BB8A;
            }

            ._subscription {
                margin: 10px auto;
            }

            ._telegram {
                width: calc(100% - 30px);
                max-width: 565px;
                height: 45px;
                background: url('../../assets/svg/angle-hexagon-input-gold-fill-left.svg') no-repeat top left,
                url('../../assets/svg/angle-hexagon-input-gold-fill-right.svg') no-repeat top right;
                background-size: 12px 100%;
                padding: 0 12px;
                margin: 10px auto;

                button {
                    width: 100%;
                    height: 100%;
                    background-color: #d4a772;
                    border: none;
                    color: #fff;
                    cursor: pointer;
                }
            }

            ._copyright {
                margin-top: 20px;
                text-align: right;
                color: #E5CDB1;
                font-size: 0.95rem;
            }
        }
    }
}