<div class="header">
    <header>
        <a class="_logo" href="/"></a>

        <ul class="_nav">
            <li>
                <a>about</a>
            </li>
            <li>
                <a>roadmap</a>
            </li>
            <li>
                <a>token sale</a>
            </li>
            <li>
                <a>faq</a>
            </li>
        </ul>
    </header>
</div>
<div class="section _01">
    <section class="_01">
        <div class="_intro">
            <h1 class="_title">NCOIN NETWORK</h1>
            <p class="_desc">
                Building the digital blocks<br>
                for a new era of gaming
            </p>
        </div>
        <div class="_btn-area">
            <a class="_btn">ONE PAGER</a>
            <a class="_btn">WHITEPAPER</a>
        </div>
    </section>

    <section class="_subscription">
        <input type="text" placeholder="EMAIL ADDRESS">
        <div class="submit">
            <button type="button">SUBSCRIBE</button>
        </div>
    </section>

<!--
    <svg width="565" height="45"  preserveAspectRatio="none">
        <polygon points="12,0 0,22.5 12,45 553,45, 565,22.5, 553,0" fill="transparent" stroke-width="1" stroke="#d4a772" vector-effect="non-scaling-stroke"/>

        <polygon points="427,0 415,22.5 427,45 553,45, 565,22.5, 553,0" fill="#d4a772" vector-effect="non-scaling-stroke"/>
    </svg>


    <svg width="12" height="45" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon points="100,0 0,50 100,100" fill="#d4a772"/>
    </svg>
    -->
</div>