@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

button._btn {
    display: block;
    border: 1px solid #d4a772;
    background: transparent;
    font-weight: bold;
    width: 100%;
    max-width: 230px;
    font-size: 1rem;
    height: 53px;
    margin: 20px auto;
    cursor: pointer;
}

section {
    > div {
        max-width: $content-max-width;
        margin: 0 auto;
    }

    &._01 {
        height: 892px;
        background: #000 url('../../assets/img/section01-bg.png') no-repeat 50% bottom;
        color: #fff;

        @media (max-width: $media-width-l) {
            background-size: auto 80%;
            background-position: 48% top;
            height: 700px;
        }

        > div {
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: flex-end;
            align-items: flex-end;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            padding: 6em 0;

            @media (max-width: $media-width-l) {
                min-height: 100%;
                flex-direction: column;
                -webkit-align-items: center;
                align-items: center;
                padding-top: 3em;
            }

            > div {
                padding: 1em 3em;
            }

            > ._intro {
                @media (max-width: $media-width-l) {
                    width: 100%;
                }

                > h1 {
                    margin: 0 0 1.5em 0;
                    font-size: 1.25em;
                    line-height: 1.25;
                    color: #d4a772;
                    font-weight: normal;
                }

                > p {
                    font: 2.18em notoSerif;
                    margin: 0;
                }
            }

            > ._btns {
                @media (max-width: $media-width-l) {
                    width: calc(100% - 3em);
                }

                > a {
                    display: block;
                    border: 1px solid #d4a772;
                    min-width: 14.375em;
                    text-align: center;

                    + a {
                        margin-top: 1em;
                    }

                    > span {
                        display: block;
                        margin: 0 auto;
                        padding: 1em;
                        line-height: 1.6;
                        position: relative;

                        @media (max-width: $media-width-l) {
                            width: fit-content;
                        }

                        &:before, &:after {
                            content: '';
                            display: block;
                            position: absolute;
                            left: 0;
                            right: 0;
                        }

                        &:before {
                            bottom: 0;
                            height: 0;
                            background: #d4a772;
                            transition: height 0.4s ease 0s;
                        }

                        &:after {
                            opacity: 0;
                            height: 39px;
                            bottom: -25px;
                            background: url('../../assets/img/section01-btn-glow.png') no-repeat 50% bottom;
                            transition: bottom 0.4s ease, opacity 0.4s ease;
                        }
                    }

                    &:hover {
                        > span {
                            &:before {
                                height: 3px;
                            }

                            &:after {
                                opacity: 1;
                                bottom: -22px;
                            }
                        }
                    }
                }
            }
        }
    }

    &._02 {
        padding-bottom: 3em;

        > div {
            width: calc(#{$content-max-width} - 2.5em);
            max-width: calc(100% - 2.5em);
            padding: 6.25em 6.25em 3.125em;
            border: solid #d4a772;
            border-width: 0 1px 1px 1px;
            margin-top: -3em;
            position: relative;

            @media (max-width: $media-width-l) {
                padding: 6.25em 2em 3.125em;
            }

            ._header {
                display: -webkit-flex;
                display: flex;
                -webkit-align-items: center;
                align-items: center;
                position: absolute;
                top: -23px;
                left: 0;
                right: 0;
                margin: 0 auto;

                ._subscription {
                    @include hexagon-input-button(calc(100% - 2em), 565px, 150px, 45px, 12px);
                }

                > ._border {
                    -webkit-flex: 1;
                    flex: 1;
                    background: #d4a772;
                    height: 1px;
                    margin: 0 -1px;
                }
            }

            h2 {
                margin: 0;
                color: #9E7747;
                font-size: 1.6875em;
                letter-spacing: 0.1em;

                > small {
                    display: block;
                    font: 1.6rem poppin-extra-light;
                    letter-spacing: normal;
                }
            }

            p {
                font-family: $article-font-family;
                color: #3D362D;
                line-height: 1.6;
                margin: 1.8em 0 0;
                letter-spacing: normal;
            }
        }
    }

    &._03 {
        > div {
            h2 {
                font-size: 1.2rem;
                letter-spacing: normal;
                margin: 0 0 3rem;
            }

            > ul {
                list-style: none;
                margin: 0;
                padding: 0;
                font-family: $article-font-family;
            }
        }

        @media (min-width: $media-width-l + 1px) {
            background: url('../../assets/img/section03-bg.png') no-repeat 50% 50%;
            background-size: cover;
            min-height: 970px;
            padding: 2em 0;
            color: #000;

            > div {
                width: calc(#{$content-max-width} - 2.5em);
                max-width: calc(100% - 2.5em);
                border: 2px solid #e3bb8a;
                padding: 30px;

                > ul {
                    font-size: 0;
                    letter-spacing: normal;
                    line-height: 1.4;
                    padding: 0;
                    margin: 0;
                    text-align: center;

                    > li {
                        width: 264px;
                        height: 310px;
                        display: -webkit-inline-flex;
                        display: inline-flex;
                        -webkit-align-items: center;
                        align-items: center;
                        margin: 0 6px;
                        padding: 97px 15px 80px;
                        font-size: 0.9rem;
                        vertical-align: middle;

                        @for $i from 1 through 6 {
                            &:nth-child(#{$i}) {
                                background: url('../../assets/img/section03-icn0#{$i}.png') no-repeat 50% 17%,
                                url('../../assets/svg/hexagon-gold-stroke.svg') no-repeat 50% 50%,
                                url('../../assets/svg/hexagon-white-fill.svg') no-repeat 50% 50%;
                                background-size: auto, 242px 285px, contain;

                                @if ($i > 3) {
                                    margin-top: -67px;
                                }

                                @if ($i == 4) {
                                    margin-left: 132px;
                                }

                                @if ($i == 5) {
                                    margin-right: 132px;
                                }
                            }
                        }
                    }
                }
            }
        }

        @media (max-width: $media-width-l) {
            > div {
                h2 {
                    display: none;
                }

                > ul > li {
                    min-height: 330px;
                    margin: 0 0 1em;
                    padding: 2em;
                    background-color: #F3F3F2;

                    &:nth-of-type(even) {
                        background-color: #ECE9E8;
                    }

                    &:before {
                        content: '';
                        display: block;
                        width: 150px;
                        height: 176px;
                        margin: 0 auto;
                    }

                    @for $i from 1 through 6 {
                        &:nth-child(#{$i}):before {
                            background: url('../../assets/img/section03-icn0#{$i}.png') no-repeat 50% 50%,
                            url('../../assets/svg/hexagon-gold-stroke.svg') no-repeat 50% 50%,
                            url('../../assets/svg/hexagon-white-fill.svg') no-repeat 50% 50%;
                            background-size: auto, 125px 146.6667px, contain;
                        }
                    }

                    > div {
                        font-size: 1em;
                        line-height: 1.5;
                        max-width: 450px;
                        margin: 2em auto 0;
                        text-align: left;
                    }
                }
            }
        }
    }

    &._04 {
        > div {
            padding: 3em 0;
            width: calc(#{$content-max-width} - 2.5em);
            max-width: calc(100% - 2.5em);

            @media (max-width: $media-width-l) {
                padding: 1em 0;
            }

            h2 {
                text-align: center;
                margin: 1em 0;
                font-size: 1.8rem;
                color: #9E7747;
            }

            dl {
                font-family: $article-font-family;
                letter-spacing: normal;
                -webkit-flex-wrap: wrap;
                flex-wrap: wrap;
                display: -webkit-flex;
                display: flex;
                margin: 0;
                border-bottom: 1px solid #d4a772;
                line-height: 1.5;
                font-size: 1em;

                > dt {
                    font-size: 1.1em;
                    margin: 0;
                    min-width: 260px;
                    padding: 60px 0 60px 30px;
                    border-top: 1px solid #d4a772;
                }

                > dd {
                    font-size: 0.9em;
                    margin: 0;
                    max-width: calc(100% - 260px);
                    flex: 100%;
                    padding: 60px 0;
                    border-top: 1px solid #d4a772;
                }

                @media (max-width: $media-width-l) {
                    border: 1px solid #d4a772;
                    padding: 2em;
                    display: block;

                    > dt, > dd {
                        border: none;
                        max-width: inherit;
                        padding: 0;
                        margin-bottom: 1em;
                    }

                    > dt {
                        text-align: center;
                        font-size: 1.5em;
                    }

                    > dd {
                        &:after {
                            &:not(:last-child) {
                                content: '';
                                display: block;
                                background: #d4a772;
                                margin: 2.5em auto;
                                width: 3em;
                                height: 2px;
                            }
                        }
                    }
                }
            }
        }
    }

    &._05 {
        background: #23211f;

        > div {
            padding: 2em 0;
            width: calc(#{$content-max-width} - 2.5em);
            max-width: calc(100% - 2.5em);

            > h2 {
                text-align: center;
                margin: 1em 0;
                font-size: 1.8em;
                color: #9E7747;
                letter-spacing: 0.2em;
            }

            > ul {
                font-family: $article-font-family;
                list-style: none;
                margin: 0;
                padding: 1em;
                border: solid #d4a772;
                border-width: 1px 0;

                @media (max-width: $media-width-l) {
                    border-width: 1px;
                }

                > li {
                    padding: 20px 0;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-align-items: center;
                    align-items: center;

                    > h3 {
                        display: -webkit-flex;
                        display: flex;
                        -webkit-align-items: center;
                        align-items: center;
                        width: 120px;
                        height: 120px;
                        border: 4px solid #D5B48D;
                        border-radius: 50%;
                        margin: 0;

                        > span {
                            flex: 100%;
                            text-align: center;
                            display: block;
                            color: #fff;
                        }
                    }

                    @media (max-width: $media-width-l) {
                        -webkit-justify-content: space-between;
                        justify-content: space-between;
                    }

                    > div {
                        display: -webkit-flex;
                        display: flex;
                        -webkit-align-items: center;
                        align-items: center;
                        flex: 1;

                        > div {
                            flex: 1;
                            color: #DCB584;
                            font: 1.2em bold;
                            line-height: 1.8em;
                            text-align: center;
                            padding: 0 1em;
                        }

                        > ul {
                            flex: 1;
                            text-align: left;
                            color: #fff;
                            line-height: 1.8;
                            padding: 0 2em;
                            font-size: 1em;
                            list-style: disc;
                        }
                    }

                    @media (max-width: $media-width-l) {
                        -webkit-align-items: flex-start;
                        align-items: flex-start;

                        > h3 {
                            -webkit-flex: none;
                            flex: none;
                        }

                        > i {
                            flex: 1;
                            display: block;
                            height: 0;
                            border: dashed #625441;
                            border-width: 1px 0;
                            margin-top: 59px;
                        }

                        > div {
                            -webkit-flex: none;
                            flex: none;
                            max-width: calc(100% - 120px);
                            margin-top: 1em;
                            width: 350px;
                            display: block;

                            > div, > ul {
                                text-align: left;
                                flex: none;
                            }

                            > div {
                                br {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }

            button {
                color: #fff;
            }
        }
    }

    &._06 {
        > div {
            padding: 2em 0;
            width: calc(#{$content-max-width} - 2.5em);
            max-width: calc(100% - 2.5em);

            > h2 {
                text-align: center;
                margin: 1em 0;
                font-size: 1.8em;
                color: #9E7747;
            }

            > ul {
                list-style: none;
                margin: 0;
                padding: 2em 0;
                letter-spacing: normal;
                display: -webkit-flex;
                display: flex;

                @media (max-width: $media-width-l) {
                    flex-direction: column;
                    font-size: 1.2em;
                    border: 1px solid #d4a772;
                    padding: 2em 0;
                }

                > li {
                    flex: 1;
                    padding: 10px;
                    font-family: $article-font-family;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-flex-direction: column;
                    flex-direction: column;
                    -webkit-align-items: center;
                    align-items: center;

                    h3 {
                        font-size: 1.2em;
                        letter-spacing: 0.2em;
                        margin: 0 0 1em;
                        font-weight: normal;

                        &:not(:first-of-type):before {
                            content: '';
                            display: block;
                            background: #d4a772;
                            margin: 0 auto 2em;
                            width: 3em;
                            height: 2px;
                        }
                    }

                    ul {
                        list-style: none;
                        margin: 0 0 3em;
                        padding: 0;
                        line-height: 1.6em;
                    }

                    p + :not(p) {
                        margin-top: 2em;
                    }

                    table {
                        font-family: $base-font-family;
                        width: 100%;
                        font-weight: bold;
                        border-spacing: 2px;
                        margin-bottom: 30px;

                        th, td {
                            height: 30px;
                            padding: 0 1em;
                        }

                        > thead {
                            th {
                                background: #625B4F;
                            }
                        }

                        > tbody {
                            th {
                                background: #A8A991;
                            }

                            td {
                                text-align: right;
                                background: #DFD8CA;
                            }
                        }
                    }

                    ._pie {
                        width: 100%;

                        @media (min-width: $media-width-l + 1px) {
                            display: -webkit-flex;
                            display: flex;
                            -webkit-align-items: flex-start;
                            align-items: flex-start;
                            -webkit-justify-content: space-between;
                            justify-content: space-between;
                        }

                        > div {
                            padding: 20px 0;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    &._07 {
        background: #000;

        @media (min-width: $media-width-l + 1px) {
            background: #000 url('../../assets/img/section07-bg.jpg') no-repeat 50% top;
        }

        > div {
            padding: 2em 2em 7em;

            > h2 {
                text-align: center;
                margin: 1em 0;
                padding-bottom: 1em;
                font-size: 1.8em;
                color: #C3A177;
                border-bottom: 1px solid #d4a772;
            }

            > ul {
                font-family: $article-font-family;
                list-style: none;
                padding: 0;
                letter-spacing: normal;

                @media (min-width: $media-width-l + 1px) {
                    display: -webkit-flex;
                    display: flex;
                    -webkit-justify-content: space-between;
                    justify-content: space-between;
                    margin: 0 -2em;
                }

                @media (max-width: $media-width-l) {
                    border: 1px solid #d4a772;
                    padding: 1em;
                }

                > li {
                    @media (min-width: $media-width-l + 1px) {
                        width: 24%;
                    }

                    margin: 0;
                    padding: 0;
                    background: #E2E2E2;

                    @media (max-width: $media-width-l) {
                        padding: 0.5em;
                        margin-bottom: 0.5em;
                    }

                    > h3 {
                        border: 2px solid #D8B98B;
                        border-spacing: 2px;
                        background: #fff;
                        text-align: center;
                        font-size: 1.75em;
                        font-weight: normal;
                        min-height: 110px;
                        line-height: 106px;
                        margin: 1.5em 0.5em;
                        padding: 0 0.2em;
                        display: -webkit-flex;
                        display: flex;
                        -webkit-align-items: center;
                        align-items: center;

                        @media (max-width: $media-width-l) {
                            margin: 0;
                            height: 110px;
                            padding: 0.2em;
                        }

                        span {
                            line-height: 1.2;
                            vertical-align: middle;
                            display: block;
                            flex: 1;

                            @media (max-width: $media-width-l) {
                                display: block;
                            }
                        }
                    }

                    > ul {
                        border-top: 2px  solid #C3A574;

                        @media (max-width: $media-width-l) {
                            border: none;
                        }
                        list-style: disc;
                        margin: 0;
                        padding: 20px 10px 30px 30px;
                        font-size: 0.9em;

                        > li {
                            margin: 0 0 1em 0;
                        }
                    }
                }
            }
        }
    }

    &._08 {
        > div {
            padding: 2em 2em 7em;

            > h2 {
                text-align: center;
                margin: 1em 0;
                font-size: 1.8em;
                color: #9E7747;
            }

            > ul {
                border: 1px solid #d4a772;
                list-style: none;
                letter-spacing: normal;
                padding: 2.5em 0;
                margin: 0;

                @media (min-width: $media-width-l + 1px) {
                    border-width: 1px 0 0 0;
                    display: -webkit-flex;
                    display: flex;

                    > li {
                        flex: 1;
                    }
                }

                > li {
                    text-align: center;
                    padding: 10px;
                    > img {
                        width: 130px;
                        height: 130px;
                    }

                    @media (max-width: $media-width-l) {
                        display: -webkit-flex;
                        display: flex;
                        -webkit-align-items: center;
                        align-items: center;
                        -webkit-justify-content: space-between;
                        justify-content: space-between;
                        margin: 0 auto;
                        width: 100%;
                        max-width: 500px;

                        > div {
                            padding-left: 1em;
                            flex: auto;
                            text-align: left;
                            max-width: 300px;
                            width: 60%;

                            > p {
                                br {
                                    display: none;
                                }
                            }

                            h3 {
                                float: left;
                                vertical-align: top;
                                margin: 0;
                            }

                            ._linkedin {
                                margin: 0;
                                float: right;
                                vertical-align: top;
                            }

                            p {
                                clear: both;
                            }
                        }
                    }

                    h3 {
                        font-family: $article-font-family;
                        font-weight: normal;
                        margin: 2em 0;
                    }

                    ._linkedin {
                        margin: 1em auto;
                        display: block;
                        width: fit-content;
                    }

                    p {
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
}